body {
    background-color: white
}

a {
    text-decoration: none;
}

/* v dark animated navbar v */
#nav-bar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
}
/* ^ dark animated navbar ^ */


/* v dark non-animated navbar v */
#nav-bar2 {
    background-color: #333;
    
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
}
/* ^ dark non-animated navbar ^ */

/* v frame navbar v */
#nav-bar3 {
    background-color: #333;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
    animation: fadeColor 0.4s forwards;
}
/* ^ frame navbar ^ */


.fade-in {
    animation: fadeIn-Start 1s forwards;
}

/* v id HREF v */
#navbar-PVA {
    margin-top: 1200px;
    margin-bottom: 110px;
    color: transparent;
}
/* ^ id HREF ^ */

/* v dark profile pictogram v */
.profile-img-dark {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 90%;
    cursor: pointer;
}
/* ^ dark profile pictogram ^ */

/* v light profile pictogram v */
.profile-img-light {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 90%;
    cursor: pointer;
}
/* ^ light profile pictogram ^ */

.title {
    margin-top: 100px;
    color: black;
    cursor: default;
}


/* ^ sub page 2 ^ */

/* v missie page v */

.title-Missie {
    margin-top: 100px;
}

.title-Missie-description {
    margin-bottom: 150px;
}
/* ^ missie page ^ */
