body {
    background-color: white
}

a {
    text-decoration: none;
}

footer {
    background-color: #333;
}

h2 {
padding: 15px;
}

/* v dark animated navbar v */
#nav-bar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
}
/* ^ dark animated navbar ^ */


/* v dark non-animated navbar v */
#nav-bar2 {
    background-color: #333;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
}
/* ^ dark non-animated navbar ^ */

/* v frame navbar v */
#nav-bar3 {
    background-color: #333;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
    animation: fadeColor 0.4s forwards;
}
/* ^ frame navbar ^ */


.fade-in {
    animation: fadeIn-Start 1s forwards;
}

.doelIMG-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doelIMG {
  max-width: 600px;
  max-height: 600px;
  margin-bottom: 50px;
}

/* v id HREF v */
#navbar-PVA {
    margin-top: 1200px;
    margin-bottom: 110px;
    color: transparent;
}

#navbar-project {
    margin-bottom: 110px;
    color: transparent;
}
/* ^ id HREF ^ */

/* v dark profile pictogram v */
.profile-img-dark {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 90%;
    cursor: pointer;
}
/* ^ dark profile pictogram ^ */

/* v light profile pictogram v */
.profile-img-light {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 90%;
    cursor: pointer;
}
/* ^ light profile pictogram ^ */

.title {
    margin-top: 400px;
    color: black;
    cursor: default;
}

.alert-to-scroll {
    color: white;
    font-family: Arial;
    font-size: 150px;
    font-size: 15pt;
    animation: fadeIn 2s forwards;
    animation-delay: 2s;
    cursor: default;
}

/* v sub page 2 v */

.sub-page-2 {
    margin-top: 300px;
    color: black;
    cursor: default;
}

.sub-title-content-container {
    margin-bottom: 1000px;
    color: white;
}

#sub-title-PVA {
    color: white;
    text-align: center;
    margin-bottom: 200px;
}

#sub-title-project {
    color: white;
    text-align: center;
    margin-bottom: 200px;
}

#sub-title-content-animation-unit1 {
    color: white;
    cursor: default;
}

#sub-title-content-animation-unit1b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
}

#sub-title-content-animation-unit1b-href {
    color: white;
    text-decoration: none;
    cursor: default;
}

#sub-title-content-animation-unit2 {
    color: white;
    cursor: default;
}

#sub-title-content-animation-unit2b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
}

#sub-title-content-animation-unit2b-href {
    color: white;
    text-decoration: none;
    cursor: default;
}

#sub-title-content-animation-unit3 {
    color: white;
    cursor: default;
}

#sub-title-content-animation-unit3b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
}

#sub-title-content-animation-unit3b-href {
    color: white;
    text-decoration: none;
    cursor: default;
}
/* ^ sub page 2 ^ */

/* v project page  v */
#project-title-content-animation-unit1 {
    color: white;
    cursor: default;
  }
  
  #project-title-content-animation-unit1b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
  }
  
  #project-title-content-animation-unit1b-href {
    color: white;
    text-decoration: none;
    cursor: default;
  }
  
  #project-title-content-animation-unit2 {
    color: white;
    cursor: default;
  }
  
  #project-title-content-animation-unit2b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
  }
  
  #project-title-content-animation-unit2b-href {
    color: white;
    text-decoration: none;
    cursor: default;
  }
  
  #project-title-content-animation-unit3 {
    color: white;
    cursor: default;
  }
  
  #project-title-content-animation-unit3b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
  }
  
  #project-title-content-animation-unit3b-href {
    color: white;
    text-decoration: none;
    cursor: default;
  }

  #project-title-content-animation-unit4 {
    color: white;
    cursor: default;
  }
  
  #project-title-content-animation-unit4b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
  }
  
  #project-title-content-animation-unit4b-href {
    color: white;
    text-decoration: none;
    cursor: default;
  }

  #project-title-content-animation-unit5 {
    color: white;
    cursor: default;
  }
  
  #project-title-content-animation-unit5b {
    color: white;
    margin-bottom: 100px;
    cursor: default;
  }
  
  #project-title-content-animation-unit5b-href {
    color: white;
    text-decoration: none;
    cursor: default;
  }

  #project-title-content-animation-unit6 {
    color: white;
    cursor: default;
  }
  
  #project-title-content-animation-unit6b {
    color: white;
    cursor: default;
  }
  
  #project-title-content-animation-unit6b-href {
    color: white;
    text-decoration: none;
    cursor: default;
  }
  /* ^ project page ^ */

  #navbar-contact {
    color: transparent;
  }

/* v missie page v */

.title-Missie {
    margin-top: 100px;
}

.title-Missie-description {
    margin-bottom: 150px;
}
/* ^ missie page ^ */

/* v keyframes v */

@keyframes fadeIn-Start {
    0% {
        opacity: 0;
        color: transparent;
    }

    100% {
        opacity: 1;
        color: black;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        color: white;
    }

    100% {
        opacity: 1;
        color: black;
    }
}

@keyframes fadeInHref {
    0% {
        opacity: 0;
        color: white;
    }

    100% {
        opacity: 1;
        color: rgb(61, 61, 216);
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        color: white;
    }

    0% {
        opacity: 1;
        color: white;
    }
}

@keyframes fadeOutHref {
    100% {
        opacity: 0;
        color: white;
    }

    0% {
        opacity: 1;
        color: white;
    }
}

@keyframes fadeColor {
    0% {
        opacity: 1;
        color: black;
    }

    100% {
        opacity: 1;
        background-color: white;
        color: transparent;
    }
}

/* ^ keyframes ^ */

/* <!-- Goed gekeurd door https://validator.w3.org/ --> */